<!DOCTYPE html>
<html>
  <head>
    <title>Vue Example</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1"
      rel="stylesheet"
      type="text/css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

    <style>
      [v-cloak] > * {
        display: none;
      }

      [v-cloak]::before {
        content: "loading…";
      }

      .fade-enter-active,
      .fade-leave-active {
        transition: opacity 0.5s;
      }

      .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
 {
        opacity: 0;
      }
    </style>
  </head>

  <body>
    <section id="app" class="section" v-cloak>
      <div class="container">
        <a class="button is-link" v-on:click="add">Add</a>
        <a class="button is-danger" v-on:click="remove">Remove</a>

        <hr />

        <transition name="fade">
          <div class="notification" v-if="show">
            <button class="delete" v-on:click="show = !show"></button>
            <transition-group name="list" tag="p">
              <span v-for="item in items" v-bind:key="item" class="list-item">{{
                item
              }}</span>
            </transition-group>
            <div v-show="this.items.length < 1">No data!</div>
          </div>
        </transition>
      </div>
    </section>

    <script>
      Vue.config.devtools = true;
      var app = new Vue({
        el: "#app",
        data: {
          show: true,
          items: [1, 2, 3, 4, 5, 6, 7, 8, 9],
          nextNum: 10
        },
        methods: {
          randomIndex() {
            return Math.floor(Math.random() * this.items.length);
          },
          add() {
            this.items.splice(this.randomIndex(), 0, this.nextNum++);
            this.visible();
          },
          remove() {
            this.items.splice(this.randomIndex(), 1);
            this.visible();
          },
          visible() {
            if (this.show == false) {
              this.show = true;
            }
          }
        }
      });
    </script>
  </body>
</html>
