<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-cloak>
      <p>
        <strong>Component</strong><br />
        <custom-input v-model="searchText"></custom-input>
        ya da<br />
        <custom-input v-bind:value="searchText" v-on:input="searchText = $event" />
      </p>
      <p>
        <strong>Input Element</strong><br />
        <input v-model="searchText" /> Value (searchText): {{ searchText }}<br />
        ya da<br />
        <input v-bind:value="searchText" v-on:input="searchText = $event.target.value" /> Value (searchText):
        {{ searchText }}
      </p>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    Vue.component('custom-input', {
      props: ['value'],
      template: `
      <div>
        <input v-bind:value="value" v-on:input="$emit('input', $event.target.value)">
        Value (value): {{ value }}
      </div>
      `
    });

    var app = new Vue({
      el: '#app',
      data: {
        value: null,
        searchText: null
      },
      methods: {

      }
    });
  </script>

</body>

</html>