<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section">
    <div class="container">
      <div class="field is-grouped">
        <comp @applied="compApplied">Comp 1</comp>
        <compnew @applied="compApplied">Comp 2</compnew>
        <custom-input v-model="searchText" @writesmth="searchText = $event"></custom-input>
      </div>
      <hr />
      <base-checkbox v-model="lovingVue"></base-checkbox> {{ lovingVue }}
      <base-input v-on:focus.native="onFocus"></base-input>

      <div class="box" v-if="status">
        <div class="media-content">
          <div class="content">
            <p v-if="!searchText"><strong>It's a new world! Isn't it?</strong></p>
            <p v-else>{{ searchText }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    Vue.component('comp', {
      template: `
      <p class="control">
        <a class="button" @click="childCompApplied">
          <slot></slot>
        </a>
      </p>
      `,
      methods: {
        childCompApplied() {
          this.$emit('applied')
        }
      },
    });

    Vue.component('base-checkbox', {
      model: {
        prop: 'checked',
        event: 'change'
      },
      props: {
        checked: Boolean
      },
      template: `
        <input
          type="checkbox"
          v-bind:checked="checked"
          v-on:change="$emit('change', $event.target.checked)">
      `
    })

    Vue.component('compnew', {
      template: `
      <p class="control">
        <a class="button" @click="$emit('applied')">
          <slot></slot>
        </a>
      </p>
      `,
    });

    Vue.component('custom-input', {
      props: ['value'],
      template: `
        <input
          class="input" type="text"
          v-bind:value="value"
          placeholder="Type something..."
          @input="$emit('writesmth', $event.target.value)">
      `
    });

    var app = new Vue({
      el: '#app',
      data: {
        status: false,
        count: 0,
        searchText: null,
        lovingVue: false
      },
      methods: {
        compApplied() {
          (this.status == false) ? this.status = true: this.status = false;
        }
      },
      computed: {

      }
    });
  </script>
</body>

</html>