<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />

  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section">
    <div class="container">
      <p>{{ count }}</p>
      <hr />
      <comp v-on:calculate="count += $event">New Day!</comp>
      <comp v-on:calculate="count += $event">New World!</comp>
      <comp v-on:calculate="counter">New World!</comp>
      <component is="comp" v-on:calculate="counter">New World!</comp>
    </div>
  </section>

  <script>
    Vue.component('comp', {
      template: `
    <div class="box">
      <p><slot></slot></p>
      <button v-on:click="$emit('calculate', 1)">+1</button>
      <button v-on:click="$emit('calculate', -1)">-1</button>
    </div>`,

    });

    var app = new Vue({
      el: '#app',
      data: {
        count: 0
      },
      methods: {
        counter(val){
          console.log(val)
        }
      }
    });
  </script>
</body>

</html>