<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    .fade-enter-active,
    .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter-active {
      animation: bounce-in .5s reverse;
    }

    .fade-leave-active {
      animation: bounce-in .5s;
    }

    .fade-enter,
    .fade-leave-to

    /* .fade-leave-active below version 2.1.8 */
      {
      opacity: 0;
    }

    /* */

    .slide-fade-enter-active {
      transition: all .3s ease;
    }

    .slide-fade-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter,
    .slide-fade-leave-to

    /* .slide-fade-leave-active below version 2.1.8 */
      {
      transform: translateX(10px);
      opacity: 0;
    }

    @keyframes bounce-in {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1.5);
      }

      100% {
        transform: scale(1);
      }
    }
  </style>
</head>

<body>

  <section id="app" class="section" v-cloak>
    <div class="container">
      <a class="button is-link" v-on:click="show = !show">Primary</a>
      <hr />
      <transition name="fade">
        <div class="notification" v-if="show">
          <button class="delete" v-on:click="show = !show"></button>
          Primar lorem ipsum dolor sit amet, consectetur
          adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis
            venenatis</a> efficitur. Sit amet,
          consectetur adipiscing elit
        </div>
      </transition>

      <transition name="slide-fade" :duration="{ enter: 500, leave: 800 }">
        <div class="notification" v-show="show">
          <button class="delete" v-on:click="show = !show"></button>
          Primar lorem ipsum dolor sit amet, consectetur
          adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis
            venenatis</a> efficitur. Sit amet,
          consectetur adipiscing elit
        </div>
      </transition>

      <transition name="slide-fade" enter-active-class="animated tada" leave-active-class="animated bounceOutRight">
        <div class="notification" v-show="show">
          <button class="delete" v-on:click="show = !show"></button>
          Primar lorem ipsum dolor sit amet, consectetur
          adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
          nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis
            venenatis</a> efficitur. Sit amet,
          consectetur adipiscing elit
        </div>
      </transition>

    </div>
  </section>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        show: false
      }
    });
  </script>

</body>

</html>