<!DOCTYPE html>
<html>

<head>
	<title>Vue Example</title>
</head>

<body>
	<div id="app">
		<div v-if="loginType === 'username'">
			<label>Username</label>
			<input placeholder="Enter your username" key="user-name" />
		</div>
		<div v-else>
			<label>Email</label>
			<input placeholder="Enter your email address" key="user-mail" />
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				loginType: 'username'
			}
		})
	</script>

	<style>
		[v-cloak] {
			display: none
		}
	</style>
</body>

</html>