<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
  </style>
</head>

<body>
  <section id="app" class="section" v-cloak>
    <nav class="panel">
      <p class="panel-heading">
        repositories
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="search" v-model.lazy="filteredQueries" />
          <span class="icon is-small is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
      <p class="panel-tabs">
        <a v-for="val, name, index in tabs" :key="'tab-' + index" :href="'#' + name"
          :class="(activetab == name) ? 'is-active' : ''" @click="selectTab(name)">{{ name }}</a>
      </p>
      <div v-for="val, name, index in tabs[activetab]">
        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          {{ val }}
        </a>
      </div>
      <label class="panel-block">
        <input type="checkbox" :checked="remember">
        remember me
      </label>
    </nav>
  </section>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        activetab: 'public',
        query: '',
        remember: false,
        tabs: {
          public: ['bulma', 'marksheet'],
          private: ['minireset.css', 'jgthms.github.io'],
          sources: ['daniellowtw/infboard'],
          forks: ['mojs']
        }
      },
      methods: {
        selectTab(val) {
          this.$data.activetab = val;
        }
      },
      computed: {
        filteredQueries: {
          get: function () {
            return this.$root.activetab
          },
          set: function (val) {
            var self = this;
            return this.$root.activetab = val
          }
        }
      }
    });
  </script>

</body>

</html>