<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    body>div.container:first-of-type {
      margin-top: 30px;
    }
  </style>
</head>

<body>

  <section id="app" class="section">
    <div class="container">
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li v-for="tab in tabs" v-bind:key="tab.name" v-bind:class="{ 'is-active' : currentTab === tab }"
            v-on:click="currentTab = tab"><a>{{ tab.name }}</a></li>
        </ul>
      </div>

      <div id="tab-content">
        <keep-alive>
          <component v-bind:is="currentTab.component" class="tab" v-on:changetabs="activetab"></component>
        </keep-alive>
      </div>

    </div>
  </section>

  <script>
    var tabs = [
  {
    name: 'Posts',
    component: {
      template: `
      <div>
        <div class="tabs">
            <ul class="tabContent">
              <li v-for="(post, index) in this.$root.posts" :data-content="index + 1" v-bind:key="post.id" v-bind:class="{ 'is-active': $root.selectedPost + 1 === post.id }" v-on:click="$emit('changetabs', index)"><a>{{ post.title }}</a></li>
            </ul>
        </div>
        <div class="notification" v-html="this.$root.posts[this.$root.selectedPost].content"></div>
      </div>
      `
    }
  },
  {
    name: 'Archive',
    component: {
      template: `
      <div>
        <div class="tabs">
          <ul class="tabContent">
                <li><a>...</a></li>
          </ul>
        </div>
        <div class="notification">
          Archive component
        </div>
      </div>`
    }
  }
];

    var app = new Vue({
      el: '#app',
      data: {
        currentTab: tabs[0],
        tabs: tabs,
        selectedPost: 0,
        posts: [{
              id: 1,
              title: 'Cat Ipsum',
              content: `<p>Dont wait for the storm to pass, dance in the rain kick up litter decide to want nothing to do with my owner today demand to be let outside at once, and expect owner to wait for me as i think about it cat cat moo moo lick ears lick paws so make meme, make cute face but lick the other cats.Kitty poochy chase imaginary bugs, but stand in front of the computer screen. Sweet beast cat dog hate mouse eat string barf pillow no baths hate everything stare at guinea pigs.My left donut is missing, as is my right loved it, hated it, loved it, hated it scoot butt on the rug cat not kitten around </p>`
            },
            {
              id: 2,
              title: 'Hipster Ipsum',
              content: `<p>Bushwick blue bottle scenester helvetica ugh, meh four loko. Put a bird on it lumbersexual franzen shabbychic, street art knausgaard trust fund shaman scenester live - edge mixtape taxidermy viral yuccie succulents. Keytar poke bicycle rights, crucifix street art neutra air plant PBR & B hoodie plaid venmo.Tilde swag art party fanny pack vinyl letterpress venmo jean shorts offal mumblecore. Vice blog gentrify mlkshk tattooed occupy snackwave, hoodie craft beer next level migas 8 - bit chartreuse.Trust fund food truck drinking vinegar gochujang.</p>`
            },
            {
              id: 3,
              title: 'Cupcake Ipsum',
              content: `<p>Icing dessert soufflé lollipop chocolate bar sweet tart cake chupa chups. Soufflé marzipan jelly beans croissant toffee marzipan cupcake icing fruitcake. Muffin cake pudding soufflé wafer jelly bear claw sesame snaps marshmallow. Marzipan soufflé croissant lemon drops gingerbread sugar plum lemon drops apple pie gummies. Sweet roll donut oat cake toffee cake.Liquorice candy macaroon toffee cookie marzipan. </p>`
            }
          ]
      },
      methods: {
        activetab(val){
          this.selectedPost = val;
        }
      }
    })
  </script>

</body>

</html>