<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }

    .title{ border: 1px solid red; display: block; }
  </style>
</head>
<body>
  <section id="app" class="section" v-cloak>
      Width: {{ window.width }}, Height: {{ window.height }}
      <hr />
      <h1 class="title is-1" v-wsize:top="[window.width, window.height]">First Level</h1>
      <p class="is-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel efficitur ligula, vel lacinia tortor. Fusce
      eu quam arcu. Donec blandit sapien ut diam finibus venenatis. Mauris eget nisl ut diam tincidunt eleifend. Sed ut
      ultrices nibh. Sed quis turpis quis elit vulputate laoreet.</p>
      <hr />
      <h2 class="title is-2" v-wsize="[window.width-400]">Second Level</h2>
      <p class="is-medium">Aenean sagittis euismod tortor, non dignissim mauris dapibus nec. Etiam est velit, luctus vel luctus ac, sagittis eget odio. In tristique tincidunt nunc id dictum. In vitae nisi a odio porttitor interdum. Morbi nec leo felis. Vestibulum dolor neque, luctus eget augue id, molestie feugiat magna. Vivamus fermentum lectus vel erat posuere interdum. Aliquam feugiat magna a risus faucibus rhoncus.</p>
      <hr />
      <h3 class="title is-3" v-wsize="{ width: 100, height: 300 }">Third Level</h3>
      <p class="is-medium">Fusce nisl metus, pharetra et mollis sed, iaculis malesuada justo. Etiam aliquam mi vitae nulla aliquet, vitae
      condimentum nisi pulvinar. Aliquam eu imperdiet sapien, pulvinar feugiat nisi.</p>
      <hr />
      <h4 class="title is-4" v-wsize.on="[window.width - window.height]">Fourth Level</h4>
      <p class="is-medium">Nullam porta orci ut viverra blandit. Nulla lorem sem, convallis non tortor sit amet, luctus placerat sapien. Nullam lectus tortor, lacinia vitae nisl nec, tempus feugiat nisi. Praesent ac finibus dui.</p>
  </section>

  <script>
Vue.directive('wsize', {
  bind(el, binding, vnode) {
    var message = null;
    if(binding.value[0]){
      message = 'width: ' + binding.value[0] + ', height: ' + binding.value[1]
    } else {
      message = 'width: ' + binding.value.width + ', height: ' + binding.value.height
    }
    el.addEventListener('click', function () {
      el.style.border='thick solid #0000FF';
      console.log('Binding arg: ' + binding.arg)
      console.log('Binding value: ' + message)
      console.log('Binding modifiers: ' + JSON.stringify(binding.modifiers))
    });
  }
})

var app = new Vue({
  el: '#app',
  data:{
      window: {
        width: 0,
        height: 0
    }
  },
  created() {
      window.addEventListener('resize', this.handleResize)
      this.handleResize();
    },
    destroyed() {
      window.removeEventListener('resize', this.handleResize)
    },
    methods: {
      handleResize() {
        this.window.width = window.innerWidth;
        this.window.height = window.innerHeight;
      }
    }
})
  </script>
</body>

</html>