<!DOCTYPE html>
<html>

<head>
  <title>Vue Example</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.css" />
  <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
  <script src="https://semantic-ui.com/dist/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>

  <style>
    [v-cloak]>* {
      display: none;
    }

    [v-cloak]::before {
      content: "loading…";
    }
    body > div.container:first-of-type {
      margin-top: 30px;
    }
  </style>
</head>

<body>

  <div id="app" class="ui container" v-cloak>
    <div class="row">
      <div class="one wide column">
          <div class="ui link cards">
            
            <person-card v-for="(person, index) in reOrderPeopleByName" :key="'people' + '-' + index" v-bind:person="person"></person-card>

            <person v-for="(person, index) in people" :key="'person' + '-' + index">
              <div slot="profile-picture"><img :src="'https://semantic-ui.com/images/avatar2/large/' + person.avatar" :alt="person.name"  :title="person.name" /></div>
              <div slot="header">{{ person.name }}</div>
              <div slot="name">{{ person.name }}</div>
              <div slot="details">{{ person.name }} is an {{ person.job.toLowerCase() }} living in {{ person.city }}.</div>
              <div slot="time">Joined in {{ person.date }}</div>
              <div slot="friends">{{ person.friends }} Friends</div>
            </person>

            <person v-for="(person, index) in people" :key="'person-' + '-' + index">
              <template slot="profile-picture"><img :src="'https://semantic-ui.com/images/avatar2/large/' + person.avatar" :alt="person.name"  :title="person.name" /></template>
              <template slot="header">{{ person.name }}</template>
              <template slot="name">{{ person.name }}</template>
              <template slot="details">{{ person.name }} is an {{ person.job.toLowerCase() }} living in {{ person.city }}.</template>
              <template slot="time">Joined in {{ person.date }}</template>
              <template slot="friends">{{ person.friends }} Friends</template>
            </person>   

          </div>
      </div>
    </div>
  </div>

  <script>
      Vue.component('person-card', {
        template: `
        <div class="card">
          <div class="image"><img :src="getProfilePicture" :alt="person.name"  :title="person.name" /></div>
          <div class="content">
            <div class="header">{{ person.name }}</div>
            <div class="meta"><a>{{ person.status }}</a></div>
            <div class="description">{{ getFirstName }} is an {{ person.job.toLowerCase() }} living in {{ person.city }}.</div>
          </div>
          <div class="extra content">
            <span class="right floated">Joined in {{ person.date }}</span>
            <span><i class="user icon"></i> {{ person.friends }} Friends</span>
          </div>
        </div>
        `,
        props: ['person'],
        computed: {
          getFirstName(){
            return this.person.name.split(' ').slice(0, -1).join(' ')
          },
          getProfilePicture(){
            return 'https://semantic-ui.com/images/avatar2/large/' + this.person.avatar
          },
        }
      });

      Vue.component('person', {
        template: `
        <div class="card">
          <div class="image"><slot name="profile-picture">kristy.png</slot></div>
          <div class="content">
            <div class="header"><slot name="header">Who am I?</slot></div>
            <div class="meta"><a><slot name="name">Some where in galaxy</slot></a></div>
            <div class="description"><slot name="details">No details here!</slot></div>
          </div>
          <div class="extra content">
            <span class="right floated"><slot name="time">0</slot></span>
            <span><i class="user icon"></i> <slot name="friends">No friends!</slot></span>
          </div>
        </div>
        `
      });
      
      new Vue({
        el: '#app',
        data: {
          people: [
          {
            name: 'Molly Hess',
            avatar: 'molly.png',
            status: 'Coworker',
            job: 'Personal Assistant',
            city: 'Paris',
            date: 2011,
            friends: 35
          },
          {
            name: 'Matthew Giampietro',
            avatar: 'matthew.png',
            status: 'Friends',
            job: 'Film-maker',
            city: 'New York',
            date: 2013,
            friends: 75
          },
          {
            name: 'Elyse Ossi',
            avatar: 'elyse.png',
            status: 'Coworker',
            job: 'Copywriter',
            city: 'New York',
            date: 2014,
            friends: 151,
          }]
        },
        computed: {
          reOrderPeopleByName(index){
            return this.people.reverse().sort((a, b) => a.date - b.date);
          }
        }
      });
  </script>

</body>

</html>